<%= render "layouts/carouseBlk" %>
<div id="mainBody">
  <div class="container">
    <div class="row">
      <%= render "layouts/sidebar" %>
      <div class="col-md-9 index">
        <%= render "static_pages/featured_products" %>
        <%= render "static_pages/latest_products" %>
      </div>
    </div>
  </div>
</div>
