<p id="notice"><%= notice %></p>

<h1>Orders</h1>
<center>
<table width="80%" border="1px">
  <thead>
    <tr>
      <th width="50px">User ID</th>
      <th>Name</th>
      <th>Pay Type</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Created at</th>
      <th>Status</th>
      <th width="5px" colspan="3"></th>
    </tr>
  </thead>
  <%= render @orders %>
</table>
<%= paginate @orders, theme: "twitter-bootstrap", window: 3 %>
</center>

<br>

<%= link_to "New Order", new_order_path %>
