
default: &default
  adapter: mysql2
  encoding: utf8
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: <%= Figaro.env.dbname %>
  password: <%= Figaro.env.passdb %>
  socket: /var/run/mysqld/mysqld.sock

development:
  <<: *default
  database: ""
