<% if notice %>
  <div class="alert alert-primary" role="alert">
    <%= notice %>
  </div>
<% end %>
<div id="mainBody">
  <div class="container">
  <div class="row">
<div class="span9">


      </div>
    </div>
  </div>
</div>
